**/Other
**/other 
**/Outros 
**/outros
**/Manifest.toml
**/.*.insyncdl
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.tif.aux.xml
**/*.tif
.env
